# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the line below to use vendoring)
vendor/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
